header {
  background-color:pink;
  width: 100%;
  text-align: center;
  font-family: helvetica;
}
.column-1 {
  background-color:yellow;
  width: 45%;
  float: left;
  height: 1300px;
  padding: 5px;
  border-right: solid black 5px;
  font-family: "Times New Roman";
}
.column-2 {
  background-color: red;
  width: 45%;
  float: right;
  height: 1300px;
  padding: 5px;
  border-left: solid black 5px;
  background-image: url("https://octodex.github.com/images/saritocat.png");
  opacity: 0.5;
  font-family: cursive;
}
footer {
  background-color:orange;
  clear: both;
  font-family: helvetica;
}
h2 {
  color: blue;
  background-color: green;
}
h2:hover {
  background-color: white;
}
