img#octopus {
	position: relative;
	left: 50%;
    margin-right: -50%;
	padding-top: 100px;
	z-index: -1;
}
img#hat {
	position: absolute;
	left: 50%;
    margin-right: -50%;
}
img#glasses {
	position: absolute;
	padding-top: 200px;
	padding-left: 40px;
	left: 50%;
    margin-right: -50%;
}